<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结出费用政策</title>
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="author" content="zhy"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/orderList.css"/>
    <style>
        .modal-footer{
            padding: 0;
            font-size: 16px;
            cursor: pointer;
        }
        .modal-footerLeft{
            width: 50%;
            height: 70px;
            float: left;
            line-height: 70px;
        }
        .modal-footerRight{
            width: 50%;
            height: 70px;
            float: left;
            line-height: 70px;
            background-color: #29353f;
            color: #FFFFff;
        }
        .orderDelesCont select{
            height: 35px;
        }
        .orderDelesCont{
            margin-top: 15px;
        }
    </style>
    <!--[if lte IE 9]>
    <script src="js/respond.min.js"></script>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="bx-header">
    <div class="pull-left">
        <img src="images/" alt="">
    </div>
    <div class=" pull-right head-nav-right soging-photes-active">
        <div class="head-nav-userName">
            张三
            <i class="head-nav-icon"></i>
        </div>
        <div class="soging-photes-display after ">
            <a href="javascript:;" class="after">
                张三李四王麻子
            </a>
            <a href="javascript:;" class="after">
                张三李四王麻子
            </a>
        </div>
    </div>
</div>
<div class="bx-content">
    <!--导航手风琴-->
    <div class="bx-mean">
        <ul id="accordion" class="accordion">
            <li>
                <a class="link" href="index.html">
                    <i class="glyphicon glyphicon-home" style="margin-top: 4px;float: left;margin-right: 14px;"></i>
                    运营数据
                </a>
            </li>
            <li>
                <div class="link">
                    <i class="bx-icon bx-icon1"></i>
                    订单管理
                </div>
                <ul class="submenu">
                    <li><a href="orderList.html">订单列表</a></li>
                    <li><a href="newOrder.html">新建订单</a></li>
                    <li><a href="commissionSettlement.html">佣金结算</a></li>
                </ul>
            </li>
            <li>
                <a class="link" href="basicManagement.html">
                    <i class="bx-icon bx-icon2"></i>
                    渠道管理
                </a>
            </li>
            <li>
                <div class="link">
                    <i class="bx-icon bx-icon3"></i>
                    费用政策管理
                </div>
                <ul class="submenu">
                    <li><a href="junction.html">结入费用</a></li>
                    <li><a href="bear.html">结出费用</a></li>
                    <li><a href="spareCost.html">备用费用结出</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon4"></i>
                客户管理
            </div>
                <ul class="submenu">
                    <li><a href="customerInformation.html">客户信息列表</a></li>
                    <li><a href="contacts.html">联系人列表</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon5"></i>
                管理员设置

            </div>
                <ul class="submenu">
                    <li><a href="role.html"> 角色管理</a></li>
                    <li><a href="user.html"> 用户管理</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon6"></i>
                财务结算
            </div>
                <ul class="submenu">
                    <li><a href="financialSettlement.html">财务结算总览表</a></li>
                    <li><a href="insuranceCompany.html">保险公司财务结算</a></li>
                    <li><a href="intermediary.html">中介公司财务结算</a></li>
                    <li><a href="member.html">会员财务结算</a></li>
                    <li><a href="otherchannels.html">其他渠道财务结算</a></li>
                    <li><a href="downstreamChannel.html">下游渠道财务结算</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon7"></i>
                报表分析
            </div>
                <ul class="submenu">
                    <li><a href="orderTime.html">下单时间分析报表</a></li>
                    <li><a href="singleChannel.html">下单渠道分析报表</a></li>
                    <li><a href="lowerArea.html">下单地区分析报表</a></li>
                    <li><a href="bxbaobiao.html">保险公司分析报表</a></li>
                </ul>
            </li>
            <li>
                <a class="link" href="jurisdiction.html">
                    <i class="bx-icon bx-icon5"></i>
                    权限管理
                </a>
            </li>
        </ul>
    </div>
    <!--视图区-->
    <div class="bx-sideright">
        <!--视图区导航-->
        <div class="bx-siderightTit after">
            <p class="orderListP">
                费用政策管理
                <i class="glyphicon glyphicon-chevron-right"></i>
            </p>
            <p class="orderListP">
                结出费用政策
            </p>
        </div>
        <div class="orderCommit">
            <div class="orderListNum">
                结出费用政策 共（0）条
            </div>
            <div class="orderCont ">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">保险公司</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">车型</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">地区</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn orderListBtn">搜索</button>
                    </div>
                </div>
                <div class="after orderListBtnBox form-inline">
                    <a href="javascript:;" class="orderListBtnNew">
                        结算
                    </a>
                    <!--<a href="javascript:;" class="orderListBtnDc">-->
                    <!--导出所有订单-->
                    <!--</a>-->
                    <div class="btn-group ">
                        <a type="button" class="btn  orderListBtnDc" onclick="exportAllOrder()">
                            导出所有订单
                        </a>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="exportCheckOrder()">导出选中</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">选择费用结出对象</span>
                            <select class="form-control"  name="condition" >
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">停用时间</span>
                            <select class="form-control"  name="condition" >
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="listOrderContainer">
                    <table class="table order_table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" >
                            </th>
                            <th>渠道</th>
                            <th class="text-center">保险公司</th>
                            <th class="text-center">地区（省-市）</th>
                            <th class="text-center ">车型</th>
                            <th class="text-center">折扣</th>
                            <th class="text-center">结入比例</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="data1 status">
                            <td><input type="checkbox" ></td>
                            <td>
                                中介-中融
                            </td>
                            <td>
                                中国平安
                            </td>
                            <td>
                                四川省成都市
                            </td>
                            <td>
                                新车
                            </td>
                            <td>
                                9.8折
                            </td>
                            <td>
                                50%
                            </td>
                            <td>
                                停用
                            </td>
                            <td>
                                <button class="btn orderListSeeBtn">修改</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="account_pagingBox">
                        <div class="account_paging">
                            <span class="account_pagingFont account_pageTotal">共条</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageHome">首页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageUpper">上一页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageFirst">第页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageNext">下一页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageShadowe">尾页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageCount">共页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageJump">跳转至</span>
                            <input type="text" maxlength="3" class="account_pagingInput"/>
                            <span class="account_pagBtn">Go</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="myModalLabel">订单详情</h3>
            </div>
            <div class="modal-body">
                <!--订单详情-->
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        渠道：<select name=""  style="width: 170px">
                        <option value="1">已计算</option>
                        <option value="2">未计算</option>
                        <option value="3">已计算</option>
                    </select>
                    </p>
                    <p class="pull-right">
                        保险公司 ：<select name="" style="width: 170px">
                        <option value="1">中国平安</option>
                        <option value="2">未计算</option>
                        <option value="3">已计算</option>
                    </select>
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        <select name="" style="width: 100px">
                            <option value="1">四川</option>
                        </select>省
                        <select name="" style="width: 100px">
                            <option value="1">成都</option>
                        </select>市
                    </p>
                    <p class="pull-right">
                        车型： <select name="" style="width: 100px">
                        <option value="1">新车</option>
                        <option value="1">旧车</option>
                    </select>
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        折扣：<input type="text" placeholder="0-10" style="width: 80px;height: 35px">
                    </p>
                    <p class="pull-right">
                        结入比列：<input type="text" style="width: 80px;height: 35px">%
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        状态： <select name="" style="width: 100px">
                        <option value="1">启动</option>
                        <option value="1">停用</option>
                    </select>
                    </p>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footerLeft" data-dismiss="modal">
                    取消
                </div>
                <div class="modal-footerRight">
                    确定
                </div>
                <!--<button type="button" class="btn btn-default orderDelesBtn" data-dismiss="modal">关闭</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/public.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function () {
        // 点击打开模态框
        $(".orderListSeeBtn").on("click", function () {
            // data-toggle="modal" data-target="#myModal"
            $(this).attr({"data-toggle": "modal", "data-target": "#myModal"})
        })
    })

    /*下面是时间选择器开始时间不能大于结束时间设置  END*/
</script>
</body>
</html>