<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>佣金结算</title>
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="author" content="zhy"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/orderList.css"/>
    <style>
        .modal-footer{
            padding: 0;
            font-size: 16px;
            cursor: pointer;
        }
        .modal-footerLeft{
            width: 50%;
            height: 70px;
            float: left;
            line-height: 70px;
        }
        .modal-footerRight{
            width: 50%;
            height: 70px;
            float: left;
            line-height: 70px;
            background-color: #29353f;
            color: #FFFFff;
        }
    </style>
    <!--[if lte IE 9]>
    <script src="js/respond.min.js"></script>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="bx-header">
    <div class="pull-left">
        <img src="images/" alt="">
    </div>
    <div class=" pull-right head-nav-right soging-photes-active">
        <div class="head-nav-userName">
            张三
            <i class="head-nav-icon"></i>
        </div>
        <div class="soging-photes-display after ">
            <a href="javascript:;" class="after">
                张三李四王麻子
            </a>
            <a href="javascript:;" class="after">
                张三李四王麻子
            </a>
        </div>
    </div>
</div>
<div class="bx-content">
    <!--导航手风琴-->
    <div class="bx-mean">
        <ul id="accordion" class="accordion">
            <li>
                <a class="link" href="index.html">
                    <i class="glyphicon glyphicon-home" style="margin-top: 4px;float: left;margin-right: 14px;"></i>
                    运营数据
                </a>
            </li>
            <li>
                <div class="link">
                    <i class="bx-icon bx-icon1"></i>
                    订单管理
                </div>
                <ul class="submenu">
                    <li><a href="orderList.html">订单列表</a></li>
                    <li><a href="newOrder.html">新建订单</a></li>
                    <li><a href="commissionSettlement.html">佣金结算</a></li>
                </ul>
            </li>
            <li>
                <a class="link" href="basicManagement.html">
                    <i class="bx-icon bx-icon2"></i>
                    渠道管理
                </a>
            </li>
            <li>
                <div class="link">
                    <i class="bx-icon bx-icon3"></i>
                    费用政策管理
                </div>
                <ul class="submenu">
                    <li><a href="junction.html">结入费用</a></li>
                    <li><a href="bear.html">结出费用</a></li>
                    <li><a href="spareCost.html">备用费用结出</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon4"></i>
                客户管理
            </div>
                <ul class="submenu">
                    <li><a href="customerInformation.html">客户信息列表</a></li>
                    <li><a href="contacts.html">联系人列表</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon5"></i>
                管理员设置

            </div>
                <ul class="submenu">
                    <li><a href="role.html"> 角色管理</a></li>
                    <li><a href="user.html"> 用户管理</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon6"></i>
                财务结算
            </div>
                <ul class="submenu">
                    <li><a href="financialSettlement.html">财务结算总览表</a></li>
                    <li><a href="insuranceCompany.html">保险公司财务结算</a></li>
                    <li><a href="intermediary.html">中介公司财务结算</a></li>
                    <li><a href="member.html">会员财务结算</a></li>
                    <li><a href="otherchannels.html">其他渠道财务结算</a></li>
                    <li><a href="downstreamChannel.html">下游渠道财务结算</a></li>
                </ul>
            </li>
            <li><div class="link">
                <i class="bx-icon bx-icon7"></i>
                报表分析
            </div>
                <ul class="submenu">
                    <li><a href="orderTime.html">下单时间分析报表</a></li>
                    <li><a href="singleChannel.html">下单渠道分析报表</a></li>
                    <li><a href="lowerArea.html">下单地区分析报表</a></li>
                    <li><a href="bxbaobiao.html">保险公司分析报表</a></li>
                </ul>
            </li>
            <li>
                <a class="link" href="jurisdiction.html">
                    <i class="bx-icon bx-icon5"></i>
                    权限管理
                </a>
            </li>
        </ul>
    </div>
    <!--视图区-->
    <div class="bx-sideright">
        <!--视图区导航-->
        <div class="bx-siderightTit after">
            <p class="orderListP">
                订单管理
                <i class="glyphicon glyphicon-chevron-right"></i>
            </p>
            <p class="orderListP">
                订单佣金结算
            </p>
        </div>
        <div class="orderCommit">
            <div class="orderListNum">
                订单列表(120)条
            </div>
            <div class="orderCont ">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">订单编号</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">保险公司</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">姓名</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">手机号</span>
                            <input type="text" class="form-control" name="customerUsername" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn orderListBtn">搜索</button>
                    </div>
                </div>
                <div class="after orderListBtnBox">
                    <a href="javascript:;" class="orderListBtnNew">
                        结算
                    </a>
                    <!--<a href="javascript:;" class="orderListBtnDc">-->
                    <!--导出所有订单-->
                    <!--</a>-->
                    <div class="btn-group ">
                        <a type="button" class="btn  orderListBtnDc" onclick="exportAllOrder()">
                            导出所有订单
                        </a>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="exportCheckOrder()">导出选中</a></li>
                        </ul>
                    </div>
                </div>
                <div id="listOrderContainer">
                    <div class="table_tabs" id="order_tabs">
                        <ul class="flagli">
                            <li class="active">
                                <a href="javascript:;" data-type="1">全部</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="2">未结算</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="3">已结算</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="4">已结入/未结出</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="5">已结出</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="6">退单未追回</a>
                            </li>
                            <li class="">
                                <a href="javascript:;" data-type="6">退单已追回</a>
                            </li>
                        </ul>
                    </div>

                    <table class="table order_table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" >
                            </th>
                            <th>订单号</th>
                            <th class="text-center">保险公司</th>
                            <th class="text-center">地区（省-市）</th>
                            <th class="text-center ">保费（元）</th>
                            <th class="text-center">结入佣金（元）</th>
                            <th class="text-center">结出佣金（元）</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="data1 status">
                            <td><input type="checkbox" ></td>
                            <td>
                                21210014411011
                            </td>
                            <td>
                                中国平安
                            </td>
                            <td>
                                四川省成都市
                            </td>
                            <td>
                                5000.00
                            </td>
                            <td>
                                1000.00
                            </td>
                            <td>
                                600.00
                            </td>
                            <td>
                                已计算
                            </td>
                            <td>
                               <button class="btn orderListSeeBtn">查看详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="account_pagingBox">
                        <div class="account_paging">
                            <span class="account_pagingFont account_pageTotal">共条</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageHome">首页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageUpper">上一页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageFirst">第页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageNext">下一页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageShadowe">尾页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageCount">共页</span>
                            <span class="account_pagingLine">|</span>
                            <span class="account_pagingFont account_pageJump">跳转至</span>
                            <input type="text" maxlength="3" class="account_pagingInput"/>
                            <span class="account_pagBtn">Go</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center" id="myModalLabel">订单详情</h3>
            </div>
            <div class="modal-body">
                <!--订单详情-->
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        订单编号：2014121141214124121
                    </p>
                    <p class="pull-right">
                        状态：<select name=""  style="width: 170px">
                        <option value="1">已计算</option>
                        <option value="2">未计算</option>
                        <option value="3">已计算</option>
                    </select>
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        保险公司：平安车险
                    </p>
                    <p class="pull-right">
                        地区：四川省成都市
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        投保人：李小明
                    </p>
                    <p class="pull-right">
                        身份证号：3521141011411441
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        手机号：15212120121
                    </p>
                    <p class="pull-right">
                        投保金额（元）：3000.00
                    </p>
                </div>
                <div class="after orderDelesCont">
                    <p class="pull-left">
                        结入金额（元）：600
                    </p>
                    <p class="pull-right">
                        结出金额（元）：500
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footerLeft" data-dismiss="modal">
                    取消
                </div>
                <div class="modal-footerRight">
                    确定
                </div>
                <!--<button type="button" class="btn btn-default orderDelesBtn" data-dismiss="modal">关闭</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/public.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function () {
        // 点击打开模态框
        $(".orderListSeeBtn").on("click", function () {
            // data-toggle="modal" data-target="#myModal"
            $(this).attr({"data-toggle": "modal", "data-target": "#myModal"})
        })
        /* 下面是表单里面的日期时间选择相关的 */
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:00:00',
            weekStart: 1,
            autoclose: true,
            language: 'zh-CN',
            pickerPosition: 'bottom-left',
            todayBtn: true,
            viewSelect: 'hour'
        });
        $('.form_date').datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            language: 'zh-CN',
            pickerPosition: 'bottom-left',
            minView: 2,
            todayBtn: true
        });
        /* 下面是表单里面的日期时间选择相关的 END */


        /*下面是时间选择器开始时间不能大于结束时间设置  START*/
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        $('#endpicker').datetimepicker('setStartDate', startTime);
        $('#startpicker').datetimepicker('setEndDate', endTime);
        $('#endpicker')
            .datetimepicker()
            .on('show', function (ev) {
                startTime = $("#startTime").val();
                endTime = $("#endTime").val();
                $('#endpicker').datetimepicker('setStartDate', startTime);
                $('#startpicker').datetimepicker('setEndDate', endTime);
            });
        $('#startpicker')
            .datetimepicker()
            .on('show', function (ev) {
                endTime = $("#endTime").val();
                startTime = $("#startTime").val();
                $('#startpicker').datetimepicker('setEndDate', endTime);
                $('#endpicker').datetimepicker('setStartDate', startTime);
            });
    });
    /*下面是时间选择器开始时间不能大于结束时间设置  END*/
</script>
</body>
</html>